link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.css')
body(ng-app='app')
    .container
        .row
            h1 Find a Job Today!
            div(ng-controller='testCtrl')
                .list-group
                    a.list-group-item(href='#', ng-repeat='job in jobs')
                        h4.list-group-item-heading {{job.title}}
                        p.list-group-item-text {{job.description}}
script(src='lib/angular/angular.js', type='text/javascript')
script(src='app/app.js', type='text/javascript')